<!DOCTYPE html>
<html class="h-full w-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Flask</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>
  <body class="h-full w-full items-center justify-center self-center flex">
    <div
      class="flex min-w-[600px] min-h-full flex-col bg-white shadow-xl justify-center px-6 py-12 lg:px-8"
    >
      <a
        class="text-white text-center font-black text-lg bg-black rounded-xl px-6 py-4"
        href="/"
      >
        ← Home
      </a>
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
          class="mt-10 text-center text-4xl font-bold leading-9 tracking-tight text-gray-900"
        >
          Pick 3 genres
        </h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form
          class="space-y-6 items-center text-center"
          action="#"
          method="POST"
        >
          <label for="cars">Genre 1</label>
          <select
            name="genres"
            id="genres"
            class="rounded-xl ring-1 ring-black px-6 py-2 min-w-[300px] text-center"
          >
            <option value="r&b">r&b</option>
            <option value="alternative">alternative</option>
            <option value="folk">folk</option>
            <option value="latin">latin</option>
            <option value="country">country</option>
            <option value="classical">classical</option>
            <option value="pop">pop</option>
            <option value="dance">dance</option>
            <option value="funk">funk</option>
            <option value="house">house</option>
            <option value="hiphop">hiphop</option>
            <option value="jazz">jazz</option>
            <option value="dancehall">dancehall</option>
            <option value="punk">punk</option>
            <option value="rock">rock</option>
            <option value="soul">soul</option>
            <option value="rap">rap</option>
            <option value="indie">indie</option>
            <option value="electronic">electronic</option>
            <option value="christian">christian</option>
            <option value="afrobeats">afrobeats</option>
          </select>

          <label for="cars">Genre 2</label>
          <select
            name="genres"
            id="genres"
            class="rounded-xl ring-1 ring-black px-6 py-2 min-w-[300px] text-center"
          >
            <option value="r&b">r&b</option>
            <option value="alternative">alternative</option>
            <option value="folk">folk</option>
            <option value="latin">latin</option>
            <option value="country">country</option>
            <option value="classical">classical</option>
            <option value="pop">pop</option>
            <option value="dance">dance</option>
            <option value="funk">funk</option>
            <option value="house">house</option>
            <option value="hiphop">hiphop</option>
            <option value="jazz">jazz</option>
            <option value="dancehall">dancehall</option>
            <option value="punk">punk</option>
            <option value="rock">rock</option>
            <option value="soul">soul</option>
            <option value="rap">rap</option>
            <option value="indie">indie</option>
            <option value="electronic">electronic</option>
            <option value="christian">christian</option>
            <option value="afrobeats">afrobeats</option>
          </select>

          <label for="cars">Genre 3</label>
          <select
            name="genres"
            id="genres"
            class="rounded-xl ring-1 ring-black px-6 py-2 min-w-[300px] text-center"
          >
            <option value="r&b">r&b</option>
            <option value="alternative">alternative</option>
            <option value="folk">folk</option>
            <option value="latin">latin</option>
            <option value="country">country</option>
            <option value="classical">classical</option>
            <option value="pop">pop</option>
            <option value="dance">dance</option>
            <option value="funk">funk</option>
            <option value="house">house</option>
            <option value="hiphop">hiphop</option>
            <option value="jazz">jazz</option>
            <option value="dancehall">dancehall</option>
            <option value="punk">punk</option>
            <option value="rock">rock</option>
            <option value="soul">soul</option>
            <option value="rap">rap</option>
            <option value="indie">indie</option>
            <option value="electronic">electronic</option>
            <option value="christian">christian</option>
            <option value="afrobeats">afrobeats</option>
          </select>

          <button
            type="submit"
            class="flex w-full justify-center rounded-md mb-10 bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Get recommendations
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
