<!DOCTYPE html>
<html class="min-h-fit min-w-fit overflow-scroll bg-white">
  <head>
    <script>
      function displayLoading() {
        document.getElementById('loadingText').classList.remove('hidden');
      }
      window.onload = function () {
        document.getElementById('loadingText').classList.add('hidden');
      };
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Flask</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>
  <body class="h-full w-full items-center justify-center self-center flex">
    <div
      class="flex min-w-[600px] min-h-full flex-col bg-white shadow-xl justify-center px-6 py-12 lg:px-8"
    >
      <a
        class="text-white text-center font-black text-lg bg-black rounded-xl px-6 py-4"
        href="/"
      >
        ← Home
      </a>
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
          class="mt-10 text-center text-4xl font-bold leading-9 tracking-tight text-gray-900"
        >
          Pick 3 genres
        </h2>
      </div>

      <div
        class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm text-center flex-col items-center flex justify-center"
      >
        <form
          class="space-y-6 items-center text-center"
          action="#"
          method="POST"
          onsubmit="displayLoading()"
        >
          <label for="cars">Genre 1</label>
          <select
            name="genre1"
            id="genre1"
            class="rounded-xl ring-1 ring-black px-6 py-2 min-w-[300px] text-center"
          >
            <option value="r&b">r&b</option>
            <option value="alternative">alternative</option>
            <option value="folk">folk</option>
            <option value="latin">latin</option>
            <option value="country">country</option>
            <option value="classical">classical</option>
            <option value="pop">pop</option>
            <option value="dance">dance</option>
            <option value="funk">funk</option>
            <option value="house">house</option>
            <option value="hiphop">hiphop</option>
            <option value="jazz">jazz</option>
            <option value="dancehall">dancehall</option>
            <option value="punk">punk</option>
            <option value="rock">rock</option>
            <option value="soul">soul</option>
            <option value="rap">rap</option>
            <option value="indie">indie</option>
            <option value="electronic">electronic</option>
            <option value="christian">christian</option>
            <option value="afrobeats">afrobeats</option>
          </select>

          <label for="cars">Genre 2</label>
          <select
            name="genre2"
            id="genre2"
            class="rounded-xl ring-1 ring-black px-6 py-2 min-w-[300px] text-center"
          >
            <option value="r&b">r&b</option>
            <option value="alternative">alternative</option>
            <option value="folk">folk</option>
            <option value="latin">latin</option>
            <option value="country">country</option>
            <option value="classical">classical</option>
            <option value="pop">pop</option>
            <option value="dance">dance</option>
            <option value="funk">funk</option>
            <option value="house">house</option>
            <option value="hiphop">hiphop</option>
            <option value="jazz">jazz</option>
            <option value="dancehall">dancehall</option>
            <option value="punk">punk</option>
            <option value="rock">rock</option>
            <option value="soul">soul</option>
            <option value="rap">rap</option>
            <option value="indie">indie</option>
            <option value="electronic">electronic</option>
            <option value="christian">christian</option>
            <option value="afrobeats">afrobeats</option>
          </select>

          <label for="cars">Genre 3</label>
          <select
            name="genre3"
            id="genre3"
            class="rounded-xl ring-1 ring-black px-6 py-2 min-w-[300px] text-center"
          >
            <option value="r&b">r&b</option>
            <option value="alternative">alternative</option>
            <option value="folk">folk</option>
            <option value="latin">latin</option>
            <option value="country">country</option>
            <option value="classical">classical</option>
            <option value="pop">pop</option>
            <option value="dance">dance</option>
            <option value="funk">funk</option>
            <option value="house">house</option>
            <option value="hiphop">hiphop</option>
            <option value="jazz">jazz</option>
            <option value="dancehall">dancehall</option>
            <option value="punk">punk</option>
            <option value="rock">rock</option>
            <option value="soul">soul</option>
            <option value="rap">rap</option>
            <option value="indie">indie</option>
            <option value="electronic">electronic</option>
            <option value="christian">christian</option>
            <option value="afrobeats">afrobeats</option>
          </select>

          <button
            type="submit"
            class="flex w-full justify-center rounded-md mb-10 bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Get recommendations
          </button>

          <div role="status" id="loadingText" class="hidden">
            <svg
              aria-hidden="true"
              class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill"
              />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </form>
        {% if message %}
        <h1 class="text-4xl font-bold">{{ message }}</h1>
        {% else %}
        <h1 class="text-4xl font-bold">Recommendations:</h1>

        {% for url in recommendations[:5] %} {% set embed_url =
        url.replace('open.spotify.com/track',
        'open.spotify.com/embed/track') + '?utm_source=generator' %}
        <div class="self-center">
          <iframe
            style="border-radius: 12px"
            src="{{ embed_url }}"
            width="100%"
            height="152"
            frameborder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </body>
</html>
